html{font-size:62.5%;}

body {
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    /*
    background-color: #f5f5dc;
     */
    background-color: black;

    color: #1EFF00;
}

.comment {
    color: #b0e0e6;
    font-size: 1.3rem;
    /*
     * line-height: "90%";
     */
}

.code {
    color: #f5f5dc;
    /*
     * TODO: change the margin-left of the code segment
     */
    margin-left: 1.5rem;
}

.keyword {
    color: #cc8888;
}

#fade {
    opacity: 5;
}

.time{ 
    height:3rem; 
    color: #f5f5dc;
    margin-right: 15rem;
    width: 45rem;
}

.date {
    margin-left: 2.5rem;
}

.text1 {
    font-size: 1.8rem;
    font-weight: bold;
}

.text2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-left: 7.5rem;
}

.text3 {
    margin-left: 200rem;
    font-style: italic;
}

.placeholder{
    width:50rem;
    height:30rem;
    border:1px solid #F00;
} 
